:root {
	--blue: #3498db;
}

body {
	background-color: var(--blue);
	color: white;
}

.row {
	min-height: 1500px;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

button {
	color: var(--blue);
	border: none;
	background-color: white;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 10px;
	transition: 0.3s all;
}

button:hover {
	color: black;
}

button:disabled {
	color: gray;
	background-color: darkgrey;
}

.load-more {
	margin: 50px 0;
	height: 1px;
}

img {
	max-width: 100%;
	width: 100%;
	object-fit: cover;
}

.img {
	margin: 0.5em;
	position: relative;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	background: white;
	color: #020202;
	border-radius: 1px;
	display: inline-block;
	width: 350px;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.img figcaption {
	margin: 10px 0;
	max-width: 100%;
	padding: 5px 10px;
	font-size: 14px;
}

.img img {
	filter: grayscale(1);
}

.spinner {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 28px;
	width: 28px;
	animation: rotate 0.8s infinite linear;
	border: 8px solid var(--blue);
	border-right-color: transparent;
	border-radius: 50%;
	z-index: 10;
}

.loaded .spinner {
	display: none;
}

.loaded img {
	filter: grayscale(0);
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.tags__row {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	font-size: 14px;
}

.tags {
	margin-right: 3px;
	color: white;
	background-color: var(--blue);
	padding: 2px 5px;
	margin: 3px;
	border-radius: 2px;
}

.controls {
	padding: 10px;
}

.loading {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 310px;
	height: 155px;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 100;
	color: var(--blue);
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 40px;
	margin: auto;
	border-radius: 5px;
}

.loading__text {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.loading .spinner {
	position: relative;
}

input {
	font-size: 16px;
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 3px;
	border-color: var(--blue);
}